.manage-item {
  position: relative;
  height: 100vh;
  width: 100%;

}

.fa-ban {
  color: red !important;
  margin-left: 12px !important;
  cursor: pointer;
}

.fa-pen-to-square {
  cursor: pointer;
  margin-left: 5px !important;
  color: green !important;
}
.btn-manageItem-toAddNewItem{
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  position: absolute;
  right: 10px;
  top: 5px;
  
}
.btn-manageItem-toAddNewItem:hover{
  color: black;
  background-color: white;
  border: 2px solid black;
}
.manage-loading{
  
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 570px) {
  
  .btn-manageItem-toAddNewItem{
    position: static;
    
  }
}