.signIn{
    background-image: url(../../images/fruits.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    
}
.signIn-h2{
    text-align: center;
    color: orange;
}
.signIn-form-container{
    background-color: rgb(0, 0, 0, 0.7);
    width: 280px;
    height: auto;
    position: absolute;
    top: 125px;
    left: 0;
    right: 0;
    margin: auto;
    
    
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 30px 0;
}
.input-group-signIn, .signIn-btn-wrapper{
    margin-top: 40px;
    margin-left: 15px;
    
}
.input-group-signIn-label{
    color: orange;
    font-size: 12px;
    margin-bottom: 3px;
}
.input-group-signIn-box{
    width: 250px;
    height: 30px;
    font-size: 16px;
    background: none;
    border: none;
    border-bottom: 1px solid orange;
    outline: none;
    color: orange;

}
.signIn-btn, .signIn-btn-google{
    background-color: orange;
    border: none;
    color: white;
    width: 250px;
    height: 35px;
    border-radius: 5px;
}
.signIn-btn-google{
    background-color: red;
    margin-top: 5px;
    margin-left: 15px;
}
.signIn-btn-google:hover{
    background-color: rgb(0, 0, 0, 0.5);
    border: solid 1px red;
    color: white;
    transition: background-color 0.5s ease;
    
}
.signIn-btn:hover{
    background-color: rgb(0, 0, 0, 0.5);
    border: 1px solid orange;
    color: orange;
    transition: background-color 0.5s ease;
}
.breakingLine{
    width: 250px;
    display: flex;
     align-items: center;
     justify-content:center;
     margin-left: 15px;
     margin-top: 20px;
     margin-bottom: 10px;
}
.breakingLine-small{
    color: orange;
}
.breaking-line{
    width: 250px;
    height: 2px;
    background-color: orange;
    margin-top: 3px;
}
.small-navigator-signIn-text{
    color: orange;
}
.small-navigator-signIn-link{
    color: green;
}
.remember-password{
    
    color: skyblue;
    
}
.remember-password:hover{
    
    text-decoration: underline;
    cursor: pointer;
    
}
/* responsive for mobile devices */
@media only screen and (max-width: 600px) {
    .signIn{
       
        height: 630px;
        padding-top: 28px;
        
    }
    .signIn-form-container{
        position: static;
        margin-top: 25px;
    }
  }