.single-item-inventories{
    width: 220px;
    height: 575px;
    padding-bottom: 25px;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.single-item-inventories:hover{
    
    transform: translateY(-50px);
    transition: transform 0.5s;
}

.single-item-top{
    margin-left: 10px;
    margin-right: 10px;
}
.single-item .text{
    width: 200px;
    margin-left: 5px;
    text-align: center;
}
.single-item-bottom{
    position: absolute;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    bottom: 25px;
}

.update-btn-inventories{
    width: 100%;
    color: white;
    background-color: limegreen;
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 2px;
    border: none;
}
.update-btn-inventories:hover{
    background-color: white;
    border: solid 1px limegreen;
    color: limegreen;
}

.items{
    width: 90%;
    margin-left: 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}