.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 40px;
}
.single-item-inventories{
    width: 250px;
    height: 500px;
    padding-bottom: 25px;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.single-item-inventories:hover{
    
    transform: translateY(-50px);
    transition: transform 0.5s; 
}

.price-quantity-name{
    
    display: flex;
    width: 99%;
    height: 100px;
    margin-left: 0.5%;
    /* background-color: rgb(11, 158, 11); */
}
.name-div{
    width: 33%;
    height: 80px;
    /* background-color */
}
.price-div{
    width: 33%;
    height: 80px;
    /* background-color:  */
    
}
.quantity-div{
    height: 80px;
    width: 33%;
    /* background-color: green; */
    
}
.item-name-p{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18x;
    
}
.item-value-p{
    text-align: center;
    margin-top: -12px;
    font-size: 14x;
    
}
.single-item-bottom{
    width: 100%;
    position: absolute;
    bottom: 10px;
}
.update-btn-inventories{
    background-color: rgb(11, 158, 11);
    border: none;
    width: 96%;
    margin-left: 2%;
    color: white;
    height: 40px;
    border-radius: 5px;
}
.update-btn-inventories:hover{
    color: rgb(11, 158, 11);
    border: 1px solid rgb(11, 158, 11);
    background-color: white;

}