.item-details{
    /* background-image: url(../../images/itemdetail.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    padding-bottom: 100px;
}
.container-itemDetails{
    background-image: url(../../images/itemdetail.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 500px;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    
}
.img-itemDetails{
    width: 275px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgb(0, 128, 0, 0.5), 0 6px 20px 0 rgb(0, 128, 0.5);
}