.btn-dlt-mangeItems{
    background-color: red;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    color: white;
    border-radius: 5px;
}
.btn-dlv-mangeItems{
    background-color: green;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    color: white;
    border-radius: 5px;
}