
.header{
    background: url('../../images/bannerhome.png');
    background-position: cover;
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.header-all-text-h1{
    
    color: color;
    font-size: 48px;

    text-align: center;
    top: 40%;
    right: 0;
    left: 0;
    
    margin: auto;
    position: absolute;
    
}
.header-all-text-para{
    
    color: black;
    font-size: 22px;

    text-align: center;
    top: 50%;
    left: 0;
    right: 0;
    
    margin: auto;
    position: absolute;
    
}

