.nav-link, .navbar-brand{
    color: black !important;
    opacity: 0.7 !important;
}
.navbar{
    display: flex !important;
    align-items: center !important;
}
.fa-solid{
    color: white !important;
    font-size: 20px;
}
.navbar{
    background-color: rgb(34, 32, 32) !important;
}
.navbar-brand{
    color: white !important;
}
.nav-link{
    color: white !important;
}
.dropdown-item:hover{
    background-color: black !important;
    color: white !important;
}
.navbar-nav{
    margin-right: 100px!important;
}
/* responsive for mobile */
@media only screen and (max-width: 570px) {
    .dropdown-signOut{
        margin-left: 120px !important;
    }
  }